@model  IEnumerable<MvcWebUI.Entity.Kategori>
@{
    var secilikategori = Url.RequestContext.RouteData.Values["id"];

}

<ul class="list-group">
    <li class="list-group-item">
        <a href="/Home/List">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Tüm Kategoriler
        </a>
    </li>
    @foreach (var kategori in Model)
    {
        if (secilikategori != null)
        {
            if (kategori.Id == int.Parse(secilikategori.ToString()))
            {
                <li class="list-group-item active">
                    <a href="/Home/List/@kategori.Id">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        @kategori.Ad
                    </a>
                </li>
            }
            else
            {
                <li class="list-group-item ">
                    <a href="/Home/List/@kategori.Id">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        @kategori.Ad
                    </a>
                </li>
            }
        }
        else
        {
            <li class="list-group-item ">
                <a href="/Home/List/@kategori.Id">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @kategori.Ad
                </a>
            </li>
        }

    }

</ul>
